{% extends "index.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">About Us</h5>
                <p class="card-text">  تم تقدمة هذا المشروع من قبل الطلاب: نوار تمام عطفه وبشار حسين اسماعيل كحل للسؤال الثاني ضمن وظيفة برمجة الشبكات</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">University Numbers:</h5>
                <p class="card-text">نوار تمام عطفه : 2593 <br> بشار حسين اسماعيل: 3001
                 
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
