{% extends "index.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nawar Atfa</h5>
                <p class="card-text">Phone Number: +963 957230327</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bashar Ismaiel</h5>
                <p class="card-text">Phone Number: +963 938510085</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}