{% extends "index.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">References:</h5>
                <a class="card-text" href="https://www.youtube.com/playlist?list=PLzMcBGfZo4-n4vJJybUVV3Un_NFS5EOgX">Flask Tutorials by Tech with Tim</a><br>
                <a class="card-text" href="https://www.youtube.com/watch?v=stqLMftgKd8">How To Create Website Using HTML CSS Bootstrap | Responsive Website Development Tutorials</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}